 body.dark {background-color:#e1e1d5;} /* #9b59b6 */

 body.dark h1, body.dark h2 ,body.dark p , body.dark .contact-us h3 , body.dark .contact-us i{
color: black !important;
 }
 body.dark footer p{
  color: white !important;
  
 }
 /* darkmodebtn */
 .checkbox {
   opacity: 0;
   position: absolute;
 }
 
 .checkbox-label {
   background-color: white;
   width: 50px;
   height: 26px;
   border-radius: 50px;
   position: relative;
   padding: 5px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .fa-moon {color: #f1c40f;}
 
 .fa-sun {color: #f39c12;}
 
 .checkbox-label .ball {
   background-color: #000;
   width: 22px;
   height: 22px;
   position: absolute;
   left: 2px;
   top: 2px;
   border-radius: 50%;
   transition: transform 0.2s linear;
 }
 
 .checkbox:checked + .checkbox-label .ball {
   transform: translateX(24px);
 }
 

 /* scrollToTopBtn */

 .scrollToTopBtn {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }


/* menuToggle */

  #menuToggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .button_container {
    display: none !important;
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
    border: 0;
    background-color: transparent;
 }
 @media (max-width:1023px) {
  .button_container{
    display: flex !important;
  }
}
  .button_container:hover {
    opacity: 0.7;
 }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
 }
  .button_container.active .middle {
    opacity: 0;
    background: #fff;
 }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff;
 }
  .button_container span {
    background: #fff;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
 }
  .button_container span:nth-of-type(2) {
    top: 11px;
 }
  .button_container span:nth-of-type(3) {
    top: 22px;
 }