/* :root {
    --white: #14181a;
    --black:  #e9e9e3;
    --primary: #00b7c6;
    --grey--dark: #aca79a;
  }
  
  :root[data-theme="dark"] {
    --white: #efeeeb;
    --black: #14181a;
    --primary: #ff851b;
  }
  
  body {
    color: var(--white) ;
    background: var(--black);
  }
  body h1 , h2 , p{
    color: var(--white) ;
  }

  
  .dark-mode-toggle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    display: inline-block;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .dark-mode-toggle:focus {
    outline: none;
  }
  
  :root[data-theme="dark"] .dark-mode-toggle__text:before {
    content: "deactivate ";
  }
  
  :root[data-theme="light"] .dark-mode-toggle__text:before {
    content: "activate ";
  }
  
  .dark-mode-toggle__icon {
    display: block;
    background: var(--grey--dark);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: relative;
    transition: width 0.3s, height 0.3s;
    z-index: 1;
    transform: rotate(-20deg);
  }
  
  .dark-mode-toggle__icon:before {
    z-index: 0;
    content: "";
    position: absolute;
    display: block;
    border-right: none;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s, background-image 03s;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin__rays 4s linear infinite;
    background-image: linear-gradient(
        0deg,
        transparent 46%,
        var(--grey--dark) 46%,
        var(--grey--dark) 54%,
        transparent 54%
      ),
      linear-gradient(
        90deg,
        transparent 46%,
        var(--grey--dark) 46%,
        var(--grey--dark) 54%,
        transparent 54%
      ),
      linear-gradient(
        45deg,
        transparent 47%,
        var(--grey--dark) 47%,
        var(--grey--dark) 53%,
        transparent 53%
      ),
      linear-gradient(
        135deg,
        transparent 47%,
        var(--grey--dark) 47%,
        var(--grey--dark) 53%,
        transparent 53%
      );
  }
  
  .dark-mode-toggle__icon:after {
    content: "";
    position: absolute;
    display: block;
    background: black;
    border-radius: 0.7rem;
    width: 1.4rem;
    height: 1.4rem;
    top: 50%;
    left: 200%;
    transform: translateY(-50%);
    transition: left 0.3s;
  }
  
  .dark-mode-toggle:hover .dark-mode-toggle__icon {
    background: var(--primary);
  }
  .dark-mode-toggle:hover .dark-mode-toggle__icon:before {
    background-image: linear-gradient(
        0deg,
        transparent 47%,
        var(--primary) 47%,
        var(--primary) 53%,
        transparent 53%
      ),
      linear-gradient(
        90deg,
        transparent 47%,
        var(--primary) 47%,
        var(--primary) 53%,
        transparent 53%
      ),
      linear-gradient(
        45deg,
        transparent 48%,
        var(--primary) 48%,
        var(--primary) 52%,
        transparent 52%
      ),
      linear-gradient(
        135deg,
        transparent 48%,
        var(--primary) 48%,
        var(--primary) 52%,
        transparent 52%
      );
  }
  
  :root[data-theme="light"] .dark-mode-toggle__icon:after {
    left: 38%;
  }
  :root[data-theme="dark"] .dark-mode-toggle__icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  :root[data-theme="dark"] .dark-mode-toggle__icon:before {
    opacity: 1;
  }
  
  @keyframes spin__rays {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  
  
  .hidden--visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
 */

 body.dark {background-color:#e1e1d5;} /* #9b59b6 */

 body.dark h1, body.dark h2 ,body.dark p , body.dark .contact-us h3 , body.dark .contact-us i{
color: black !important;
 }
 body.dark footer p{
  color: white !important;
  
 }
 
 .checkbox {
   opacity: 0;
   position: absolute;
 }
 
 .checkbox-label {
   background-color: white;
   width: 50px;
   height: 26px;
   border-radius: 50px;
   position: relative;
   padding: 5px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .fa-moon {color: #f1c40f;}
 
 .fa-sun {color: #f39c12;}
 
 .checkbox-label .ball {
   background-color: #000;
   width: 22px;
   height: 22px;
   position: absolute;
   left: 2px;
   top: 2px;
   border-radius: 50%;
   transition: transform 0.2s linear;
 }
 
 .checkbox:checked + .checkbox-label .ball {
   transform: translateX(24px);
 }
 


 .scrollToTopBtn {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
  
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }