 body.dark {background-color:#e1e1d5;} /* #9b59b6 */

 body.dark h1, body.dark h2 ,body.dark p , body.dark .contact-us h3 , body.dark .contact-us i{
color: black !important;
 }
 body.dark footer p{
  color: white !important;
  
 }
 
 .checkbox {
   opacity: 0;
   position: absolute;
 }
 
 .checkbox-label {
   background-color: white;
   width: 50px;
   height: 26px;
   border-radius: 50px;
   position: relative;
   padding: 5px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .fa-moon {color: #f1c40f;}
 
 .fa-sun {color: #f39c12;}
 
 .checkbox-label .ball {
   background-color: #000;
   width: 22px;
   height: 22px;
   position: absolute;
   left: 2px;
   top: 2px;
   border-radius: 50%;
   transition: transform 0.2s linear;
 }
 
 .checkbox:checked + .checkbox-label .ball {
   transform: translateX(24px);
 }
 


 .scrollToTopBtn {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
  
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }